
<div class="container-fluid mt-5 contact-style row d-flex justify-content-center align-content-center" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx auto">
            <h1 class="text-center main heading" id="c1">Contact Us</h1>
            <p class="text-center sub-heading" id="f1">We Will Be Happy To Help You </p>

            <div class="row">
                <div class="col-md-6 col-12 mx-auto">

                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Full Name" name="name">
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter Your Email" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll Never Share You Email With Anyone</small>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone</label>
                            <input type="number" class="form-control" id="exampleInputpassword1"
                           placeholder="Enter Your Phone Number" name="phone">
                           
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputPasswrod1">Message</label>
                            <input type="text" class="form-control" id="exampleInputpassword1"
                             placeholder="Enter Your Message" name="message">
                           
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="btn-style btn-primary row d-flex justify-content-center align-content-center" id="sub">Submit</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>