 <div class="container-fluid mt-5 about-style" id="courseid">
       <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading" id="b1">Courses We Provide</h1>
               <p class="text-center sub-heading" id="g1">Grow Your Knowledge With Us </p>
                <div class="row">
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-courses html">
                               <div  class="icon">
                                   <img src="images/image3.png" class="img-fluid" alt="html">
                               </div>
                               <p class="text-primary" id="html">Learn Html,Css,JS And Build Awesome Projects.</p>
                           </div>
                       </div>
                   </div>
                    <div class="col-md-4">
                       <div class="box">
                           <div class="our-courses mern">
                               <div  class="icon">
                                   <img src="images/image4.png" class="img-fluid" alt="mern">
                               </div>
                               <p class="text-danger" id="html">Learn MERN Stack  And Build Dynamic Websites.</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-courses mean">
                               <div  class="icon">
                                   <img src="images/image5.jpg" class="img-fluid" alt="html">
                               </div>
                               <p class="text-info" id="html">Learn MEAN Stack And Build Interactive Projects.</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-courses php">
                               <div  class="icon">
                                   <img src="images/image6.jpg" class="img-fluid" alt="html">
                               </div>
                               <p class="text-success" id="html">Learn PHP And Build Awesome Projects.</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-courses sql">
                               <div  class="icon">
                                   <img src="images/image7.png" class="img-fluid" alt="html">
                               </div>
                               <p class="text-warning" id="html">Learn SQL,Connectivity With Databases And Build Awesome Projects.</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-courses mongodb">
                               <div  class="icon">
                                   <img src="images/image8.png" class="img-fluid" alt="html">
                               </div>
                               <p class="text-secondary" id="html">Learn Mongodb,Connectivity With Databases And Build Awesome Projects.</p>
                           </div>
                       </div>
                   </div>
                    
                </div>
           </div>
       </div>
   </div>